/* styles.css for web-based LC3 simulator */

#scroll-container
{
    text-align: center;
}

.register-name
{
    font-weight: bold;
}

.memory-address
{
    font-family: monospace;
}

/* Configuration for the memory address table */
button.memory-dropdown {
    padding: 0px 6px; /* default: 6px 12px */
}
.shrink-to-fit {
    width: 1px;
}

.hidden-alert {
    display: none;
}

.hex-value
{
    font-family: monospace;
}

.hex-edit-popover .input-group {
    margin-bottom: 1em;
}
.hex-edit-popover li {
    display: none;
}
#console-contents {
    height: 350px;
}

footer {
    min-height: 30px;
}
