/* styles.css for web-based LC3 simulator */

#scroll-container
{
    text-align: center;
}

.address-pc
{
    background-color: #f5f5f5;
}

.address-breakpoint
{
    background-color: #f2dede;
}

.register-name
{
    font-weight: bold;
}

.memory-address
{
    font-family: monospace;
}

.hex-value
{
    font-family: monospace;
}

/* alerts in the static DOM, made visible by JS */
.hidden-alert
{
    display: none;
}

.hex-edit-popover .input-group {
    margin-bottom: 1em;
}
.hex-edit-popover li {
    display: none;
}
.hex-edit-popover .btn-group {
    text-align: center;
}
